<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h2 class="header center white-text"></h2>
            <div class="row center">
                <h5 class="header col s12 light white-text"></h5>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="/images/images_back/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row left">
            <div class="col s12 m4" id="about">
                <div class="icon-block">
                    <h2 class="left-align"><i class="material-icons">edit</i></h2>
                    <h5 class="left-align ">Staatlich geprüfte <br> Designerin</h5>
                    <p class="light">Abgeschlossenes Fachschulstudium zur Staatlich geprüften Designerin, Fachrichtung Werbe- und Mediendesign im Sommer 2016 an der Gutenbergschule in Frankfurt am Main.</p>
                    <li><a class="black-text" href="http://www.gutenbergschule.eu/fachschule.html">Gutenbergschule.eu</a></li>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="left-align"><i class="material-icons">local_offer</i></h2>
                    <h5 class="left-align">Mediengestalterin <br>IHK</h5>
                    <p class="light">Abgeschlossene Ausbildung bei der IHK Darmstadt im Juni 2012 als Mediengestalterin für Digital- und Printmedien, Fachrichtung Gestaltung und Technik mit Schwerpunkt in der Printproduktion. </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="left-align"><i class="material-icons">verified_user</i></h2>
                    <h5 class="left-align">Zusätzliche <br>Qualifikationen</h5>
                    <p class="light">&#149; Ausbildereignungsschein AEVO
                        <br>&#149; Basiszertifikat Projektmanagement GPM
                        <br>&#149; Fachhochschulreife</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row center">
            <div class=" black-text left-align col s12" >
                <h4>ABOUT</h4>
                <div class="row center">
                    <p class="header left-align col s12 light">Im Sommer 2012 habe ich meine Ausbildung als Mediengestalterin für Digital- und Printmedien mit der Fachrichtung Gestaltung und Technik abgeschlossen. Im Anschluss arbeitete ich 2 Jahre als Assistentin der Technischen Leitung im Verlagshaus »Darmstädter Echo«. Hier lagen die Schwerpunkte in den Bereichen Druckereibüro, Sachbearbeitung, sowie der Gestaltung von Printprodukten.
                        <br>
                        <br>Mein zukünftiger Werdegang zielt in Richtung Agenturarbeit. Gerne möchte ich meine Fähigkeiten in der Gestaltung und Realisierung von Printprodukten weiterentwickeln, aber auch meine Fähigkeiten im digitalen (Frontend) ausbauen.
                        <br>Durch das Fachschulstudium, die abgeschlossene Ausbildung und 2 Jahre Berufserfahrung konnte ich viele verschiedene Dinge lernen und mitnehmen, jetzt freue ich mich auf auf neue Herausforderungen und spannende Projekte!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container" id="portfolio">
            <br>
            <div class="row center">
                <h2 class="container center grey-text text-lighten-4"></h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/images_back/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
    </div>
    <div>
        <h4>PORTFOLIO MEINER PROJEKTARBEITEN</h4>
        <div class="row center">
            <p class="header left-align col s12 light">Hier sehen Sie eine Auswahl meiner Projekte, die in der Studienzeit, bei Freelancer Aufträgen oder früheren Arbeitgebern entstanden sind.
                <br>Für weitere Informationen zum jeweiligen Projekt bitte das Bild anklicken.</p>
        </div>
    </div>
</div>

<!--Bilder Boxen -->

<div class="row">
    <div class="col s12 m4 l4">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/images_project/300x300.jpg" width="500" height="500">
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/images_project/300x300.jpg" width="500" height="500">
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/images_project/300x300.jpg" width="500" height="500">
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/images_project/300x300.jpg" width="500" height="500">
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="images/images_project/300x300.jpg" width="500" height="500">
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/images_project/300x300.jpg" width="500" height="500">
        </div>
    </div>
</div>




<!-- Card 
<div class="row">
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/Azubi_Flyer.jpg">
                <img class="activator" src="images/images_project/Azubi_3.jpg">
                <img class="activator" src="images/images_project/Azubi_2.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Flyer Ausbildungsmesse<i class="material-icons right">more</i></span>
                <p>
                    <h6>Din-Lang Flyer Wickelfalz</h6></p>
                <p>
                    <h7>Auftragsarbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über dieses Projekt<i class="material-icons right">close</i></span>
                <p>Dieser Flyer ist eine Auftragsarbeit und wurde für eine Ausbildungsmesse gestaltet. Ziel war es eigene Ausbildungsberufe zu bewerben.
                    <br> Zielgruppe: 15-20 jährige
                    <br> Die Schwierigkeit bestand darin, den Flyer möglichst Interessant zu Gestalten und sich von anderen Firmen abzuheben.</p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card 
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/Schuetzenhof1.jpg">
                <img class="activator" src="images/images_project/Schuetzenhof2.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Flyer Restaurant<i class="material-icons right">more</i></span>
                <p>
                    <h6>Din-Lang Flyer Wickelfalz</h6></p>
                <p>
                    <h7>Auftragsarbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über dieses Projekt<i class="material-icons right">close</i></span>
                <p>Dieser Flyer ist eine Auftragsarbeit für das Restaurant Schützenhof. Der Flyer dient ausschließlich Postwurfsendungen</p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card 
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/Designer1.jpg">
                <img class="activator" src="images/images_project/Designer2.jpg">
                <img class="activator" src="images/images_project/Designer3.jpg">
                <img class="activator" src="images/images_project/Designer4.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Designer 2016<i class="material-icons right">more</i></span>
                <p>
                    <h6>www.designer-2016.de</h6></p>
                <p>
                    <h7>Freie Arbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
                <p>Fachschulstudium Abschlussprojekt
                    <br> Gruppenarbeit
                    <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                    <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card 
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/BOG2.jpg">
                <img class="activator" src="images/images_project/iphonemockup.png">
                <img class="activator" src="images/images_project/Bog3.jpg">
                <img class="activator" src="images/images_project/Flyer fertig.png">
                <img class="activator" src="images/images_project/Flyer Raum.png">
                <img class="activator" src="images/images_project/Flyer vorne.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Corporate Design Dekoservice BOG<i class="material-icons right">more</i></span>
                <p>
                    <h6>www.dekoservice-darmstadt.de</h6></p>
                <p>
                    <h7>Auftragsarbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
                <p>Fachschulstudium Abschlussprojekt
                    <br> Gruppenarbeit
                    <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                    <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/DSC_0015.jpg">
                <img class="activator" src="images/images_project/DSC_0017.jpg">
                <img class="activator" src="images/images_project/DSC_0027.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Jam Session Schokoladencreme<i class="material-icons right">more</i></span>
                <p>
                    <h6>Entwicklung Produktgestatung</h6></p>
                <p>
                    <h7>Freie Arbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
                <p>Fachschulstudium Abschlussprojekt
                    <br> Gruppenarbeit
                    <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                    <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card 
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/Jucaplus1.jpg">
                <img class="activator" src="images/images_project/Jucaplus2.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Juca Plus<i class="material-icons right">more</i></span>
                <p>
                    <h6>RollUp und Magazincover</h6></p>
                <p>
                    <h7>Mediengestalter Abschlussprüfung 2012</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
                <p>Fachschulstudium Abschlussprojekt
                    <br> Gruppenarbeit
                    <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                    <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/kikofe.jpg">
                <img class="activator" src="images/images_project/kikofe2.jpg">
                <img class="activator" src="images/images_project/kikofe_logo.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">KiKoFe Kinderkostümfest<i class="material-icons right">more</i></span>
                <p>
                    <h6>Corporate Design</h6></p>
                <p>
                    <h7>Auftragsarbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
                <p>Fachschulstudium Abschlussprojekt
                    <br> Gruppenarbeit
                    <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                    <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
    <!-- Card  
    <div class="col s12 m6">
    <div class="card z-depth-2">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/images_project/Liederheft TSG.jpg">
            <img class="activator" src="images/images_project/Flyer TSG.jpg">
            <img class="activator" src="images/images_project/Liederheft TSG2.jpg">
        </div>
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="images/images_project/Liederheft TSG.jpg">2</a></li>
            <li class="waves-effect"><a href="images/images_project/Flyer TSG.jpg">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">TSG 1846 e.V. Abteilung Karneval<i class="material-icons right">more</i></span>
            <p>
                <h6>Jährlich erscheinende Plakate, Flyer, Eintrittskarten, Liederheft</h6></p>
            <p>
                <h7>Auftragsarbeit</h7>
            </p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
            <p>Fachschulstudium Abschlussprojekt
                <br> Gruppenarbeit
                <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
        </div>
    </div>
</div>


    <!-- Card end  -->
    <!-- Card 
    <div class="col s12 m6">
        <div class="card z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/fruits.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Smoothie Werbung<i class="material-icons right">more</i></span>
                <p>
                    <h6>Vorhandenes Produkt in neuen Kontext setzen</h6></p>
                <p>
                    <h7>Freie Arbeit</h7>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Über das Projekt<i class="material-icons right">close</i></span>
                <p>Fachschulstudium Abschlussprojekt
                    <br> Gruppenarbeit
                    <br>Neugestaltung des Logos, der Website und die Erstellung eines 3D-Werbeflyers für das Unternehmen Event- und Dekoservice BOG
                    <br> HIER: KOmplettes Screendesign einer Onepage, inklusive Fotografien, Texte, Aufteilung, Email-Server. Keine Vorgaben. Die Programmierung der Seite fand durch externe statt. </p>
            </div>
        </div>
    </div>
    <!-- Card end  -->
</div>
</div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="container center grey-text text-lighten-4"></h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/images_back/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
<div class="container">
    <div class="section">
    </div>
    <!-- KONTAKTDATEN -->
    <div>
        <h4>KONTAKT</h4>
        <div class="row" id="kontakt">
            <div class="col s12 m6">
                <div class="card-panel grey darken-2 z-depth-2">
                    <span class="white-text"> <h5 class="header left-align light">Laura Füchtenkordt <br></h5>
                <h6 class="header left-align light"><br>Marchlewskistraße 93 <br>10243 Berlin <br><br>mail@fuechtenkordt.com<br>www.fuechtenkordt.com<br></h6>
                        </span>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card-panel grey darken-2 z-depth-2">
                            <span class="white-text"> <h5 class="header left-align light"></h5>
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d825.4280279279316!2d13.447939759279611!3d52.50978921763609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e5b49c6c14f%3A0x2f4e6f0cde40f1b1!2sMarchlewskistra%C3%9Fe+93%2C+10243+Berlin!5e0!3m2!1sde!2sde!4v1474890277876" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Button in der Mitte
<div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
</div>
-->
